<div class="footer">
    <div class="container">
        <div class="row menu">
            <div class="col-12 col-sm-4 footer--col--1">
                <h4>{{i18n "Footer.About.Title"}}</h4>
                <ul>
                    <li><a href="#">{{i18n "Footer.About.Link_1"}}</a></li>
                    <li><a href="#">{{i18n "Footer.About.Link_2"}}</a></li>
                    <li><a href="#">{{i18n "Footer.About.Link_3"}}</a></li>
                    <li><a href="#">{{i18n "Footer.About.Link_4"}}</a></li>
                    <li><a href="#">{{i18n "Footer.About.Link_5"}}</a></li>
                    <li><a href="#">{{i18n "Footer.About.Link_6"}}</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-4 footer--col--2">
                <h4>{{i18n "Footer.Customer.Title"}}</h4>
                <ul>
                    <li><a href="#">{{i18n "Footer.Customer.Link_1"}}</a></li>
                    <li><a href="#">{{i18n "Footer.Customer.Link_2"}}</a></li>
                    <li><a href="#">{{i18n "Footer.Customer.Link_3"}}</a></li>
                    <li><a href="#">{{i18n "Footer.Customer.Link_4"}}</a></li>
                    <li><a href="#">{{i18n "Footer.Customer.Link_5"}}</a></li>
                    <li><a href="#">{{i18n "Footer.Customer.Link_6"}}</a></li>
                    <li><a href="#">{{i18n "Footer.Customer.Link_7"}}</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-4 footer--col--3">
                <h4>{{i18n "Footer.Products.Title"}}</h4>
                <ul>
                    <li><a href="#">{{i18n "Footer.Products.Link_1"}}</a></li>
                    <li><a href="#">{{i18n "Footer.Products.Link_2"}}</a></li>
                    <li><a href="#">{{i18n "Footer.Products.Link_3"}}</a></li>
                    <li><a href="#">{{i18n "Footer.Products.Link_4"}}</a></li>
                    <li><a href="#">{{i18n "Footer.Products.Link_5"}}</a></li>
                    <li><a href="#">{{i18n "Footer.Products.Link_6"}}</a></li>
                </ul>
            </div>
        </div>
        <p class="footer-copyright">{{i18n "Footer.Copyright"}}</p>
    </div>
</div>