<navbar>
    <nav class="navbar navbar-light block-navbar">
        <div class="container">
            <div class="block-navbar-username"><span class="block-navbar-username--logout"> <a class="logout ml-2" href="#">Hi, <span>Oriol</span></a></span></div>
            <div class="row flex-grow-1">
                <div class="col-12 col-md-5 col-lg-5 block-navbar-left">
                    <a class="navbar-brand" href="/">
                        <img class="block-navbar-left-logo" src="/assets/logo_contoso_air.svg">
                    </a>
                </div>
                <div class="col-12 col-md-7 col-lg-7 block-navbar-right">
                    <ul class="navbar-nav block-navbar-right-menu">
                        {{#each publicMenu}}
                            <li class="nav-item block-navbar-right-menu-item {{#if active}}active{{/if}}">
                                <a class="nav-link" href="{{url}}">{{text}}</a>
                            </li>
                        {{/each}}
                        {{#if greeting}}
                            {{#each securedMenu}}
                                <li class="nav-item block-navbar-right-menu-item {{#if active}}active{{/if}}">
                                    <a class="nav-link" href="{{url}}">{{text}}</a>
                                </li>
                            {{/each}}
                            <li class="nav-item  block-navbar-right-menu-item block-navbar-right-menu-item__logout">
                                <a class="nav-link" href="/logout">{{{greeting}}}</a>
                            </li>
                        {{else}}
                            {{#each onlyPublicMenu}}
                                <li class="nav-item block-navbar-right-menu-item {{#if active}}active{{/if}}">
                                    <a class="nav-link" href="{{url}}">{{text}}</a>
                                </li>
                            {{/each}}
                        {{/if}}
                    </ul>
                </div>
            </div>

        </div>
    </nav>
</navbar>