<li class="col-sm-12 col-lg-6">
    <span class="block-deals-list-item">
        <span class="row">
            <span class="col-7 col-sm-5 block-deals-list-item-col">
                <span class="d-block"><span>{{fromName}}</span> (<span>{{fromCode}}</span>)</span>
                <span class="d-block">{{i18n "Deals.FlightsTo"}}<span>{{toName}}</span> (<span>{{toCode}}</span>)</span>
                <span class="block-deals-list-item-col-date">{{i18n "Deals.FlightsPrice"}}<span>{{since}}</span></span>
            </span>
            <span class="col-5 col-sm-4 col-md-3 block-deals-list-item-col block-deals-list-item-col--price">
                <span class="d-block">{{i18n "Deals.FlightsPriceFrom"}}</span>
                <span class="block-deals-list-item-col-price">{{price}}</span>
                <span class="d-block">{{i18n "Deals.FlightsOneWay"}}</span>
            </span>
            <span class="col-12 col-sm-3 col-md-4 block-deals-list-item-col block-deals-list-item-col--button text-center text-sm-left">
                <button class="btn btn-primary btn-sm block-deals-list-item-col-button" href="#" type="button">{{i18n "Deals.FlightsDatesButton"}}</button>
            </span>
        </span>
    </span>
</li>