<li class="col-sm-12 col-md-4 block-cities-list-item">
  <figure class="block-cities-list-item-figure">
    <img alt="{{title}}" class="block-cities-list-item-figure-image block-cities-list-item-figure-image--desktop" src="/assets/cities/{{desktop-image}}">
    <img alt="{{title}}" class="block-cities-list-item-figure-image" src="/assets/cities/{{mobile-image}}">
    <figcaption class="block-cities-list-item-figure-caption">{{title}}</figcaption>
  </figure>
</li>